* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

button,
input,
textarea,
select {
    font-family: 'Montserrat', sans-serif;
}

.flexed {
    display: flex;
}

.container {
    width: 60%;
    height: fit-content;
}

.big_container {
    width: 100%;
    height: fit-content;
}


/* Sezione dei due header */


/* Primo Header */

header #first_header {
    width: 100%;
    height: 6vh;
    background-color: #21333e;
    color: #b8c1d0;
    justify-content: space-around;
    align-items: center;
}

header .date,
#first_header,
.head_contact_infos {
    display: flex;
    align-items: center;
}

header .socials li {
    display: inline-block;
    list-style-type: none;
}

#first_header>* {
    font-size: 0.8em;
}

#first_header ul li:hover,
#first_header p:hover:not(.date p) {
    color: white;
    cursor: pointer;
}

.date i,
.head_contact_infos p i {
    margin-right: 6.5px;
}

.head_contact_infos p {
    margin-right: 30px;
}

.socials li {
    margin-right: 25px;
}


/* Secondo Header + JUMBOTRON*/

#jumbotron {
    width: 100%;
    height: 95vh;
    background-image: url(../img/jumbotron.png);
    background-position: bottom;
    background-size: cover;
    color: white;
    position: relative;
}

#jumbo_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    display: flex;
    justify-content: center;
}

.nav {
    width: 58%;
    height: fit-content;
    flex-direction: row;
}

header #jumbotron .main_nav ul {
    width: 100%;
}

header #jumbotron .main_nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 3%;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
}

header #jumbotron .main_nav ul li:hover {
    color: #0fbdbd;
}

#jumbotron .main_nav {
    width: 60%;
    justify-content: space-between;
    padding: 10px;
    margin-top: 1%;
}

#jumbotron .jumbo_text {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#jumbotron .jumbo_text>* {
    padding: 5px;
}

.jumbo_text button {
    margin-top: 10px;
    margin-left: 10px;
}

#jumbotron .jumbo_text h1 {
    font-size: 3.8em;
}


/* Fine della sezione dei due header + jumbotron */


/* Sezione del tipo di offerte */

#offers {
    padding: 100px;
    background-color: #eef4ed;
    justify-content: center;
}

#offers .human,
#offers .core,
#offers .performances {
    width: calc(67% / 3);
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    margin: 10px;
}

#offers .human>*,
#offers .core>*,
#offers .performances>* {
    padding: 3px;
    justify-content: center;
}

#offers .human .profile,
#offers .speedometer {
    width: 55px;
    height: 55px;
    padding: 11px;
    text-align: center;
}

#offers .circle {
    width: 52px;
    height: 52px;
    padding: 6px;
    text-align: center;
}

#offers .human .profile,
#offers .circle,
#offers .speedometer {
    background-color: #daeced;
    border-radius: 50%;
    object-fit: contain;
}


/* Fine della sezione del tipo di offerte */


/* Sezione delle informazioni sulla compagnia */

.company {
    width: 100%;
    height: fit-content;
    position: relative;
}


/* ---Forse ti occore modificare questo se devi cambiare grandezza---
    ---carattere o padding/margin e simili--- */

.company_head {
    width: 29.9%;
    height: fit-content;
    margin-left: 20%;
    align-self: center;
    padding: 5px;
}

.company_head h6 {
    color: #05817e;
    font-size: 0.8em;
}

.company_head p {
    color: #848e94;
    font-size: 0.9em;
    font-weight: 500;
}

.company_head h6,
.company_head h1,
.company_head p:first-child {
    padding-bottom: 5px;
}

.company_head h1 {
    font-size: 2.9em;
    font-weight: 800;
    color: #2b373f;
}

.company_head>p {
    padding-bottom: 30px;
}

.company_head .tradition,
.company_head .security,
.company_head .certificate,
.company_head .graduate {
    width: 49%;
    padding-top: 35px;
    display: inline-block;
}

.company_head h3 {
    padding-bottom: 5px;
}

.company img {
    object-fit: cover;
    width: 55%;
    height: 90vh;
    padding-left: 25px;
}

.company::before {
    content: "";
    position: absolute;
    background-image: url(../img/bullets.png);
    top: -3.7%;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    height: 7.3%;
    width: 7.3%;
    opacity: 0.40;
}

.company::after {
    content: "";
    position: absolute;
    background-image: url(../img/bullets.png);
    bottom: -3.7%;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    height: 7.3%;
    width: 7.3%;
    opacity: 0.40;
}


/* Fine della sezione delle informazioni sulla compagnia */


/* Sezione dei servizi della compagnia */

.services_container {
    background-color: #111117;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services h6,
.pricing h6,
.news h6,
.newsletter_info>h6,
.form_camp>h6 {
    color: #05817e;
    font-size: 0.8em;
}

.services>h1,
.pricing>h1,
.news h1,
.newsletter_info>h1 {
    color: white;
    font-size: 2.9em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.explane {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
}

.services .explane p,
.news p {
    color: #848e94;
    display: inline-block;
    width: 70%;
    font-size: 0.9em;
    font-weight: 500;
}

.services .explane button,
.news button {
    display: inline-block;
}

.services .service_one {
    width: 100%;
    justify-content: center;
}

.services .service_distance {
    margin-bottom: 2.5%;
}

.service_one .service_col {
    width: calc(95% / 3);
    background-color: grey;
    height: 250px;
    border-radius: 10px;
    padding: 25px;
    background-color: #19191f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centered_col {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.service_col h3 {
    color: white;
}

.service_col p {
    color: #b8c1d0;
    font-size: 0.9em;
    font-weight: 500;
}

.service_col i {
    color: #05817e;
    font-size: 2em;
}

.service_col button {
    width: fit-content;
}


/* Fine della sezione dei servizi della compagnia */


/* Sezione dei prezzi */

.pricing_container {
    justify-content: center;
    background-color: #eef4ed;
}

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.pricing>h1 {
    color: black;
}

.pricing p,
.newsletter_info p,
.form_camp>p,
.example p,
.copyright p {
    color: #848e94;
    font-size: 0.9em;
    font-weight: 500;
}

.prices {
    flex-direction: row;
}

.prices .price {
    width: calc(95%/3);
    height: 50vh;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}

.popular_position {
    position: relative;
}

#popular {
    position: absolute;
    width: 22%;
    height: 1%;
    padding: 20px;
    color: white;
    background-color: #00a6a6;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    font-size: 0.7em;
    top: 3.5%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .main_info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.main_info h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main_info p {
    color: #05817e;
    font-size: 0.85em;
}

.main_info .value {
    font-size: 1.3em;
}

.main_info .number {
    font-size: 1.9em;
}

.main_info .time {
    font-size: 0.9em;
}

.main_info i {
    font-size: 2.5em;
    color: #05817e;
}

.price .services_list {
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.services_list p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.9em;
    color: #848e94;
    font-weight: 500;
}

.checkmark {
    font-weight: 800;
}

.prices .centered_col {
    height: 54vh;
    margin-top: 35px;
}

.pricing>h1 {
    color: #2b373f;
    ;
}


/* Fine della sezione dei prezzi */


/* Sezione delle NEWS  */

.news_container {
    justify-content: center;
}

.news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.news>h1 {
    color: #2b373f;
}

.news .explane {
    padding-bottom: 50px;
}

.last_news {
    width: 100%;
    height: fit-content;
}

.last_news .new {
    width: calc(95%/3);
    height: 40vh;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.background_one {
    background-image: url(../img/news-1.jpg);
}

.background_two {
    background-image: url(../img/news-2.jpg);
}

.background_three {
    background-image: url(../img/news-3.jpg);
}

.background_one,
.background_two,
.background_three {
    background-size: contain;
    background-repeat: no-repeat;
}

.new h3 {
    color: white;
    text-align: center;
    padding-bottom: 35px;
    width: 80%;
}


/* Fine della sezione delle NEWS  */


/* Sezione di iscrizione alla Newsletter */

.newsletter_container {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    justify-content: center;
    align-items: center;
    height: 49vh;
}

.newsletter {
    align-items: center;
    justify-content: center;
    width: 55%;
}

.newsletter_info {
    width: calc(95%/2);
    margin-right: 4%;
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter_info h1 {
    font-size: 2.9em;
}

.subscribe {
    width: calc(95%/2);
    height: 19vh;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe input,
.subscribe button {
    width: fit-content;
    outline: none;
}

.subscribe input {
    padding: 10px;
    min-width: 90%;
    min-height: 35%;
    background-color: rgba(255, 255, 255, 0.479);
    border: none;
    font-size: 1em;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.subscribe button {
    background-color: #058283;
    padding: 10px;
    font-size: 1em;
    width: 30%;
    border: none;
    color: white;
    border-radius: 5px;
}


/* Fine della sezione di iscrizione alla Newsletter */


/* Sezione di invio del messaggio */

.message {
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#message_container {
    width: 60%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.form_camp h1 {
    font-size: 2.9em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
}

.form_camp,
.example {
    width: calc(95%/2);
    height: fit-content;
    flex-direction: column;
}

.form_camp {
    margin-right: 15%;
}

form {
    padding-top: 40px;
    width: 100%;
    position: relative;
}

form input,
form select {
    min-width: 60%;
    min-height: 30%;
    margin-bottom: 3%;
}

#select,
.email {
    margin-left: 3%;
}

#number_input::-webkit-outer-spin-button,
#number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input,
form select,
#message {
    outline: none;
    border: none;
    font-size: 0.9em;
    background-color: rgba(211, 211, 211, 0.397);
    padding: 12px;
}

#select {
    color: #5e7e80;
}

#message {
    min-width: 123%;
    min-height: 120px;
    margin-bottom: 3%;
    resize: none;
}

.form_camp>button {
    width: fit-content;
}

#name_image {
    position: absolute;
    right: 42%;
    top: 18.6%;
}

.example {
    height: 44vh;
    justify-content: space-between;
}

.example h3 {
    color: #3a4a54;
}

.example_infos {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.example_infos p:nth-child(2) {
    margin-bottom: 15px;
    margin-top: 15px;
}

.example button {
    width: fit-content;
}

.example i {
    color: #05817e;
    margin-right: 10px;
    font-size: 1.15em;
    background-color: rgb(230, 228, 228);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}


/* Fine della sezione di invio del messaggio */


/* Sezione dei due footer  */

.big_footer {
    background-color: #111117;
    justify-content: center;
}

.footer {
    height: fit-content;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.infos,
.principal_infos {
    flex-direction: column;
    height: 33vh;
    justify-content: space-between;
    margin-right: 20px;
}

.infos {
    background-color: #19191f;
    padding: 32px;
    width: 22%;
    border-radius: 5px;
}

.infos ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.principal_infos {
    width: 21%;
}

.infos h1 {
    color: white;
    font-size: 1.1em;
    width: 70%;
}

.infos ul li {
    list-style-type: none;
    margin-bottom: 6px;
    cursor: pointer;
}

.infos ul li:hover {
    color: white;
}

.infos ul li i {
    margin-left: 5px;
}

#footer_logo {
    text-align: center;
}

.contact_infos {
    flex-direction: column;
    width: 100%;
}

.contact_infos p {
    color: #848e94;
    font-size: 0.85em;
    font-weight: 500;
}

.contact_infos p i {
    margin-right: 10px;
}

.contact_infos p:nth-child(2) {
    margin-bottom: 12px;
    margin-top: 12px;
}

.principal_infos>p,
.infos ul li {
    color: #848e94;
    font-size: 0.82em;
    font-weight: 500;
}

.infos i {
    font-size: 1.3em;
    vertical-align: middle;
    padding-right: 5px;
}


/* credits: */

.credits {
    background-color: #0d0d11;
    width: 100%;
    height: 8.5vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.copyright {
    justify-content: space-between;
}

.copyright p {
    vertical-align: middle;
    font-size: 0.8em;
}

.credits .arrow {
    position: absolute;
    right: 1.5%;
    font-size: 1.4em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #181820;
    border-radius: 50%;
    color: #111117;
}


/*Fine della sezione dei due footer*/