* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.flexed {
    display: flex;
}

.container {
    width: 60%;
    height: fit-content;
}


/* Sezione dei due header */


/* Primo Header */

header #first_header {
    width: 100%;
    height: 6vh;
    background-color: #21333e;
    color: #b8c1d0;
    justify-content: space-around;
    align-items: center;
}

header .date,
#first_header,
.contact_infos {
    display: flex;
}

header .socials li {
    display: inline-block;
    list-style-type: none;
}


/* Secondo Header + JUMBOTRON*/

#jumbotron {
    width: 100%;
    height: 95vh;
    background-image: url(../img/jumbotron.png);
    background-position: bottom;
    background-size: cover;
    color: white;
    position: relative;
}

#jumbo_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699)
}

header #jumbotron .main_nav ul li {
    display: inline-block;
    list-style-type: none;
}

#jumbotron .main_nav {
    width: 100%;
    justify-content: space-around;
    align-self: flex-start;
    padding: 10px;
}

#jumbotron .jumbo_text {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#jumbotron .jumbo_text>* {
    padding: 5px;
}

.jumbo_text button {
    margin-top: 10px;
    margin-left: 10px;
}

#jumbotron .jumbo_text h1 {
    font-size: 5em;
}


/* Fine della sezione dei due header + jumbotron */


/* Sezione del tipo di offerte */

#offers {
    width: 100%;
    padding: 100px;
    background-color: #eef4ed;
    justify-content: center;
}

#offers .human,
#offers .core,
#offers .performances {
    width: calc(67% / 3);
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    margin: 10px;
}

#offers .human>*,
#offers .core>*,
#offers .performances>* {
    padding: 3px;
    justify-content: center;
}

#offers .human .profile,
#offers .speedometer {
    width: 55px;
    height: 55px;
    padding: 11px;
    text-align: center;
}

#offers .circle {
    width: 52px;
    height: 52px;
    padding: 6px;
    text-align: center;
}

#offers .human .profile,
#offers .circle,
#offers .speedometer {
    background-color: #daeced;
    border-radius: 50%;
    object-fit: contain;
}


/* Fine della sezione del tipo di offerte */


/* Sezione delle informazioni sulla compagnia */

.company {
    width: 100%;
    height: fit-content;
}


/* ---Forse ti occore modificare questo se devi cambiare grandezza---
    ---carattere o padding/margin e simili--- */

.company_head {
    width: 35%;
    height: fit-content;
    margin-left: 20%;
    align-self: center;
    padding: 5px;
}

.company_head h6,
.company_head h1,
.company_head p:first-child {
    padding-bottom: 5px;
}

.company_head .tradition,
.company_head .security,
.company_head .certificate,
.company_head .graduate {
    width: 49%;
    padding-top: 35px;
    display: inline-block;
}

.company_head h3 {
    padding-bottom: 5px;
}

.company img {
    object-fit: cover;
    width: 48%;
    height: 80vh;
    padding-left: 25px;
}


/* Fine della sezione delle informazioni sulla compagnia */


/* Sezione dei servizi della compagnia */

.services_container {
    width: 100%;
    height: fit-content;
    background-color: #111117;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services h6,
.pricing h6,
.news h6 {
    color: #05817e;
    font-size: 0.8em;
}

.services>h1,
.pricing>h1,
.news h1 {
    color: white;
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.explane {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
}

.services .explane p,
.news p {
    color: #b8c1d0;
    display: inline-block;
    width: 70%;
    font-size: 0.85em;
}

.services .explane button,
.news button {
    display: inline-block;
}

.services .service_one {
    width: 100%;
    justify-content: center;
}

.services .service_distance {
    margin-bottom: 2.5%;
}

.service_one .service_col {
    width: calc(95% / 3);
    background-color: grey;
    height: 250px;
    border-radius: 10px;
    padding: 25px;
    background-color: #19191f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centered_col {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.service_col h3 {
    color: white;
}

.service_col p {
    color: #b8c1d0;
    font-size: 0.9em;
}

.service_col i {
    color: #05817e;
    font-size: 2em;
}

.service_col button {
    width: fit-content;
}


/* Fine della sezione dei servizi della compagnia */


/* Sezione dei prezzi */

.pricing_container {
    width: 100%;
    height: fit-content;
    justify-content: center;
    background-color: #eef4ed;
}

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.pricing>h1 {
    color: black;
}

.pricing p {
    color: #7a7b7a;
    font-size: 0.85em;
}

.prices {
    flex-direction: row;
}

.prices .price {
    width: calc(95%/3);
    height: 50vh;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}

.popular_position {
    position: relative;
}

#popular {
    position: absolute;
    width: 22%;
    height: 1%;
    padding: 20px;
    color: white;
    background-color: #00a6a6;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    font-size: 0.7em;
    top: 3.5%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .main_info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.main_info h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main_info p {
    color: #05817e;
}

.main_info .value {
    font-size: 1.3em;
}

.main_info .number {
    font-size: 1.9em;
}

.main_info .time {
    font-size: 0.9em;
}

.main_info i {
    font-size: 2.5em;
    color: #05817e;
}

.price .services_list {
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.services_list p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.85em;
}

.checkmark {
    font-weight: 900;
}

.prices .centered_col {
    height: 54vh;
    margin-top: 35px;
}


/* Fine della sezione dei prezzi */


/* Sezione delle NEWS  */

.news_container {
    width: 100%;
    height: 70vh;
    justify-content: center;
}

.news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.news>h1 {
    color: black;
}

.news .explane {
    padding-bottom: 50px;
}

.last_news {
    width: 100%;
    height: fit-content;
}

.last_news .new {
    width: calc(95%/3);
    height: 40vh;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

.background_one {
    background-image: url(../img/news-1.jpg);
}

.background_two {
    background-image: url(../img/news-2.jpg);
}

.background_three {
    background-image: url(../img/news-3.jpg);
}

.background_one,
.background_two,
.background_three {
    background-size: contain;
    background-repeat: no-repeat;
}

.new h3 {
    color: white;
    text-align: center;
    padding-bottom: 35px;
    width: 80%;
}


/* Fine della sezione delle NEWS  */